<div class="mt-2">
  <h1 class="text-center text-primary">Sign Up</h1>
</div>

<div class="mt-5 mb-lg-5 d-flex justify-content-center">
  <form class="s-width30" [formGroup]="userFormData" (ngSubmit)="onSubmit()">

    <div class="mb-3 col-lg-12">

      <div class="form-group">
        <app-input-label label="First Name"></app-input-label>
        <app-input formControlName="firstName"></app-input>
      </div>
    </div>
    <div class="mb-3">

      <div class="form-group">
        <app-input-label label="Last Name"></app-input-label>
        <app-input formControlName="lastName"></app-input>
      </div>
    </div>

    <div class="mb-3 col-lg-12">

      <div class="form-group">
        <app-input-label label="Phone Number"></app-input-label>
        <app-input formControlName="phoneNumber"></app-input>
      </div>
    </div>
    <div class="mb-3">

      <div class="form-group">
        <app-input-label label="Email"></app-input-label>
        <app-input formControlName="email"></app-input>
      </div>
    </div>

    <div class="mb-3">

      <div class="form-group">
   <app-input-label label="Password"></app-input-label>
        <app-input formControlName="password"></app-input>
      </div>
    </div>
    <div class="mb-4">
    <div class="form-check">
<app-input-checkbox id="flexCheckDefault" formControlName="terms"></app-input-checkbox>
      <label class="form-check-label text-primary" for="flexCheckDefault">
       By checking this box, you are agreeing to our terms & conditions
      </label>
    </div>
    </div>

    <div class="mb-3">
    <app-button buttonLabel="Create Account"></app-button>
    </div>

  </form>
</div>

