<div class="pt-5">

  <div class="mt-lg-5">
    <h1 class="text-center text-success"><i class="fa fa-check-circle fa-3x"></i></h1>
  </div>
<div class="mt-lg-5">
  <h1 class="text-center text-success">Success ful</h1>
</div>

<div class="mt-5 mb-lg-5 d-flex justify-content-center">
  <div class="" style="width:30%">

    <div class="mb-6">
        <p class="text-center">
          By checking this box, you are agreeing<br/> to our terms & conditions
        </p>
    </div>
    <br/>
    <br/>

    <div class="mb-3">
      <div class="form-group">
        <div class="d-grid gap-2">
          <a routerLink="/home" type="button" class="btn btn-primary">Continue</a>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
